
<aside class="col-2 border border-light p-2">

    <button type="button" class="btn btnRegister"><a href="{{path ('app_admin_emp')}}">Employés</a></button>
    <button type="button" class="btn btnRegister"><a href="{{path ('app_admin_serv')}}">Services</a></button>
    <button type="button" class="btn btnRegister"><a href="#">Horaires</a></button>
    <button type="button" class="btn btnRegister"><a href="#">Habitats</a></button>
    <button type="button" class="btn btnRegister"><a href="#">Animaux</a></button>
    <button type="button" class="btn btnRegister"><a href="#">Comptes rendus</a></button>
    <button type="button" class="btn btnRegister"><a href="#">Statistiques</a></button>
    
</aside>

