
<aside class="col-2 border border-light p-2">

    <button type="button" class="btn btnRegister"><a href="{{path ('app_register')}}">Soigner un animal</a></button>
    <button type="button" class="btn btnRegister"><a href="{{path ('app_admin_serv')}}">Modifier les services</a></button>
    <button type="button" class="btn btnRegister"><a href="https://mail.google.com/mail/u/2/?pli=1#inbox" class="btn btnRegister" target="_blank">Mail</a></button>
    <button type="button" class="btn btnRegister"><a href="{{path ('app_habitats')}}">Avis a traiter</a></button>
    
</aside>


