<footer>
    <div class="container-fluid-foot">
        <div class="gauche"><h1>Zoo Arcadia</h1>
            <h7>20, rue de la fôret <br> 35380 PAIMPONT</h7>
        </div>

        <div class="suivez">
            <div><h2>Suivez nous !!</h2></div>
            <div class="bootstrap-icons">
                <a href=""><i class="fa-brands fa-facebook"></i></a>
                <a href=""><i class="fa-brands fa-instagram"></i></a>
                <a href=""><i class="fa-brands fa-x-twitter"></i></a>
            </div>
        </div>

        <div class="lien_footer">
            <a class="nav-link" href="{{path('app_rgpd')}}">RGPD</a>
            <a class="nav-link" href="{{path('app_home')}}#schedules">Horaires</a>
            <a href="{{"mailto:zoo.arcadia.martinon@gmail.com"}}">Nous contacter</a>
            <a class="nav-link" href="{{path('app_home')}}#search">Nous trouver</a>
        </div>
    </div>
    <div class="copy">2024 © Copyrights Zoo Arcadia</div>
</footer>


<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-YvpcrYf0tY3lHB60NNkmXc5s9fDVZLESaAA55NDzOxhy9GkcIdslK1eN7N6jIeHz" crossorigin="anonymous"></script>
