<footer>
        <div class="container-fluid-foot">
            <div class="gauche"><h1>Zoo Arcadia</h1>
                 <h33>20, rue de la fôret <br>
                    35380 PAIMPONT</h33>
            </div>
            <div class="suivez">
                <div><h2>Suivez nous !!</h2></div>
                <div class="bootstrap-icons">
                    <a href=""><i class="bi bi-facebook"></i></a>
                    <a href=""><i class="bi bi-instagram"></i></a>
                    <a href=""><i class="bi bi-twitter-x"></i></a>
               </div>
            </div>
            <div class="lien_footer">
                <a class="nav-link" href="{{path('app_rgpd')}}">RGPD</a>
                <a href="">Nous contacter</a>
                <a href="">Horaires</a>
                <a href="">Nous trouver</a>
            </div>

        </div>
    </footer>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-YvpcrYf0tY3lHB60NNkmXc5s9fDVZLESaAA55NDzOxhy9GkcIdslK1eN7N6jIeHz" crossorigin="anonymous"></script>
</body>
</html>