{% extends 'base.html.twig' %}

{% block title %}Avis{% endblock %}

{% block body %}

<section class="avis">

        <!-- ici sera injecté les avis -->

        <!-- Button trigger modal opinion-->
    <button type="button" class="btn btnAvis" data-bs-toggle="modal" data-bs-target="#exampleModal">
    Laisser un avis
    </button>
</section>

<!-- Modal opinion-->
    <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered">
            <div class="modal-content">
                <div class="modal-header">
                    <h1 class="modal-title fs-5" id="exampleModalLabel">Votre avis</h1>
                </div>
                <div class="modal-body">
                    <div>
                        <label>Votre e-mail</label>
                        <input type="email" name="email">
                    </div>
                    <div>
                        <label>Titre</label>
                        <input type="text" name="title">
                    </div>
                    <div>
                        <label>Votre avis</label>
                        <textarea type="text" name="description"></textarea>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Fermer</button>
                    <button type="button" class="btn btn-primary">Envoyer</button>
                </div>
            </div>
        </div>
    </div>

{% endblock %}
