{% extends 'base.html.twig' %}

{% block title %}Administrateur{% endblock %}

{# <a href="{{path ('app_register')}}">Ajouter un collaborateur</a> #}

{% block body %}

<h1>Espace admin </h1>

<button type="button" class="btn btnAvis"><a href={{path ('app_register')}}>Ajouter collaborateur</a></button>


{% endblock %}