<!-- Modal avis-->
<div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">
            <form method="POST" action="{{ path('add_opinion') }}">
                <div class="modal-header">
                    <h1 class="modal-title fs-5" id="exampleModalLabel">Votre avis</h1>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    <div>
                        <label>Votre pseudo</label>
                        <input type="text" name="pseudo" class="form-control" required>
                    </div>
                    <div class="star-rating">
                        <span class="star" data-value="1">★</span>
                        <span class="star" data-value="2">★</span>
                        <span class="star" data-value="3">★</span>
                        <span class="star" data-value="4">★</span>
                        <span class="star" data-value="5">★</span>
                    </div>
                    <!-- Champ caché pour la note -->
                    <input type="hidden" id="rating-value" name="etoiles" value="" required>
                    <div>
                        <label>Titre</label>
                        <input type="text" name="title" class="form-control" required>
                    </div>
                    <div>
                        <label>Votre avis</label>
                        <textarea name="comment" class="form-control" rows="4" required></textarea>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Fermer</button>
                    <button type="submit" class="btn btn-primary">Envoyer</button>
                </div>
            </form>
        </div>
    </div>
</div>

{% block javascripts %}
    <script src="{{ asset('script/stars.js') }}"></script>
{% endblock %}