/* Fonts*/
@import url('https://fonts.googleapis.com/css2?family=Lemon&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lemonada:wght@300..700&display=swap');
/* @import 'fontawesome/fontawesome-free/css/all.css'; */


/* .lemon-regular {
    font-family: "Lemon", serif;
    font-weight: 400;
    font-style: normal;
}

.piedra-regular {
    font-family: "Piedra", serif;
    font-weight: 400;
    font-style: normal;
}

.lemonada{
    font-family: "Lemonada", cursive;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
} */

*{
    margin: 0;
    padding: 0;
}

/* --------------------------------HEADER---------------------------------------- */

.navbar{
    background-image: url(../temp/bg_header.png);
    width: 100vw;
    height: 12vh;
    align-content: center;
    box-shadow: 0 4px 4px lightgray;
}

/*div logo*/
.navbar-brand{ 
    width: 6%;
    height: auto;
    display: flex;
    flex-direction: column;
    align-content: center;
    align-items: center;
    margin-right: 12%;
    margin-left: 10%;
    text-decoration: none;
    margin-top: 0.5%;
}

/*logo*/
.navbar-brand img {
    width: 70%;
    height: auto;
}

/*text under the logo*/
.hheader{
    font-family: "Piedra", serif;
    font-size: 1.2rem;
    color: #4B543B;
}

/*icone burger menu*/
.navbar-toggler-icon{
    color: #4B543B;
}

/*link menu*/
.collapse a{
    text-decoration: none;
    font-family: "Lemon",serif;
    color: #4B543B;
    font-size: 1.5rem;
    margin-right: 5%;
    align-content: center;
    gap: 9%;
    text-shadow: 0px 4px 3px white;
}

/*icon home menu*/
.fa-solid{
    font-size: 2rem;
    color: #4B543B;
}
@media screen and (max-width: 1200px) {
/* Insérez vos propriétés CSS ici, avec vos sélecteurs*/
}

/* ----------------------------------------FOOTER-------------------------------------------------------- */

footer{
    display: flex;
    flex-direction: column;
    bottom:0;
    justify-content: center;
    justify-items: center;
    align-items: center;
    background-color: #4B543B;
    width: 100vw;
    height: 19vh;
}

.container-fluid-foot{
    display: flex;
    flex-direction: row;
    width: 95vw;
    gap: 30%;
    justify-content: center;
    align-items: center;
    margin-top: 3%;
}

.gauche{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 1%;
}

h1{
    color: #DCE2AA;
    font-family: 'Piedra','Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 1.3rem;
}

.suivez{
    display: flex;
    flex-direction: column;
    align-items: center;
}

h2{
    display: flex;
    color: #DCE2AA;
    font-family: 'Lemon', Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-size: 1.7rem;
    width: 105%;
}

.bootstrap-icons{
    display: flex;
    gap: 51%;
    width: 40%;
    text-align: center;
    margin-left: -24%;
}

.bootstrap-icons i{
    justify-content: center;
    font-size: 1.2rem;
    color: #DCE2AA;
    text-decoration: none;
    gap: 2rem;
}

h7{
    font-family: 'lemonada',cursive;
    font-size: 0.8rem;
    color: #DCE2AA;
}

.lien_footer a{
    display: flex;
    flex-direction: column;
    font-family: 'lemonada',cursive;
    color: #DCE2AA;
    text-decoration: none;
    font-size: 0.7rem;
}

.bi-instagram, .bi-twitter-x{
    font-size: 2rem;
    color: #4B543B;
    text-decoration: none;
}

.copy{
    font-size: 0.5rem;
    color: #DCE2AA;
    margin-bottom: 4%;
    margin-top: 2%;
}

/*responsive*/
/* Gérer la disposition sur petits écrans */
@media screen and (max-width: 768px) {
    footer{
        display: flex;
        flex-direction: column;
        width: 100vw;
        height: auto;
    }
    
    .container-fluid-foot{
        display: flex;
        gap: 10%;
    }
    
    .gauche{
    width: 49%;
    }
    
    h1{
        font-size: 1.2rem;
        margin-top: 15%;
    }
    
    .suivez{
        align-items: center;
        text-align: center;
        width: 40%;
    }

    .bootstrap-icons {
        display: flex;
        gap: 51%;
        width: 40%;
        text-align: center;
        margin-left: -75%;
        font-size: 0.8rem;
    }
    
    h2 {
    display: flex;
    font-size: 1rem;
    width: 154%;
    margin-left: -24%;
    }
    
    h7{
        font-size: 0.6rem;
        text-align: center;
    }
    
    .lien_footer{
    margin-top: 4%;
    width: 40%;
    }

    .lien_footer a {
        display: flex;
        flex-direction: column;
        font-family: 'lemonada',cursive;
        color: #DCE2AA;
        text-decoration: none;
        font-size: 0.6rem;
    }
}

/* Gérer la disposition sur écrans moyens*/
@media screen and (max-width: 1024px) and (min-width: 769px){
    .gauche {
        width: 26%;
    }

    h7 {
        text-align: center;
    }

    .suivez {
        width: 22%;
    }

    .bootstrap-icons {
        margin-left: -110%;
    }

    .suivez > div:nth-child(1) {
        width: 250%;
    }

    .lien_footer {
        padding-top: 2%;
    }
      
      
}

/* --------------------------------GLOBAL-CSS------------------------------------- */

body{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-left: auto;
    margin-right: auto;
    background-color:beige;
}

.banner{
    display: flex;
    justify-content: center;
    align-items: center;
}

.banner img{
    position: absolute;
    z-index: 6;
    width: 85vw;
    height: 10%;
    box-shadow: 0 4px 4px #4B543B;
}

h4{
    font-family: "lemon", serif;
    font-size: 1.5rem;
    text-align: center;
    color: #4B543B;
    position: relative;
    z-index: 7;
}

/* ----------------------------HOME-PAGE---------------------------------- */

/*rectangle + txt*/
.discover{
    display: flex;
    width: 90vw;
    height: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.rectangle{
    width: 50vw;
    height: 13vh;
    position: absolute;
    z-index: 2;
    background-color: white;
    margin-top: 1%;
}

h3{
    position: absolute;
    z-index: 3;
    font-family: "lemon", serif;
    color: #B57F50;
    font-size: 1.5rem;
    margin-top: 2%;
}

/*image accueil*/
.accueil{
    width: 85vw;
    height: 80vh;
    position: relative;
    z-index: 0;
    margin-top: 4%;
    margin-bottom: 10%;
}

/*rectangle transparent + txt*/
.tranparent{
    width: 50vw;
    height: 23vh;
    position: absolute;
    z-index: 4;
    background-color: white;
    opacity: 70%;
    margin-top: 41%;
}

.welcome{
    position: absolute;
    z-index: 5;
    font-family: "lemonada", cursive;
    color: #4B543B;
    font-size: 1rem;
    margin-top: 42%;
    text-align: center;
}


/*section animaux */
.animaux{
    width: 85vw;
    margin-bottom: 5%;
}

.card{
    background-color:#DCE2AA;
    width: 20%;
    height: 80%;
    border-radius: 5%;
    margin-top: 5%;
    align-items: center;
}

.card-img{
    width: 78%;
    display: flex;
    margin-top: 9%;
    border-radius: 4%;
}

.card-title{
    text-align: center;
    font-family: "Lemonada", cursive;
    font-size: 0.9rem;
    color: #4B543B;
}


/*section habitats*/
.habitats{
    display: flex;
    justify-content: space-around; /* Pour espacer les éléments uniformément */
    width: 85vw;
    margin-top: 4%;
    margin-bottom: 3%;
}

.habitats img {
    text-align: center; /* Centre le contenu textuel, y compris les légendes */
    display: flex; /* Utilisation de flexbox pour aligner le contenu */
    flex-direction: column; /* Aligne les éléments en colonne */
    align-items: center; 
    clip-path: ellipse(40% 50%);
    width: 80%;
    height: auto;
}

legend{
    font-family: "Lemonada", cursive;
    margin-top: 3%;
    text-align: center;
    color: #4B543B;
    font-size: 1rem;
}

/*section nos services*/
.nos-services {
    display: flex;
    justify-content: space-around; /* Pour espacer les éléments uniformément */
    width: 85vw;
    margin-top: 4%;
    margin-bottom: 3%;
}

.nos-services div {
    text-align: center; /* Centre le contenu textuel, y compris les légendes */
    display: flex; /* Utilisation de flexbox pour aligner le contenu */
    flex-direction: column; /* Aligne les éléments en colonne */
    align-items: center; /* Centre les éléments horizontalement */
}

.nos-services img {
    width: 100%; /* Adapte l'image à la largeur de son conteneur */
    object-fit: cover;
    max-width: 200px; /* Limite la largeur de l'image */
    transform: scale(0.7);
}


/*section avis*/
.avis {
    flex-direction: column;
    align-content: center;
    align-items: center;
    display: flex;
    width: 85vw;
    margin-top: 5%;
    margin-bottom: 5%;
}

dl, ol, ul {
  margin-top:0;
  margin-bottom:1rem;
  text-align: center;
  width: 60%;
}

.avis .btnAvis {
    font-family: "Lemon", serif;
    color: white;
    background-color: #4B543B;
    font-size: 1rem;
    margin-right: 5%;
    align-content: center;
    margin-top: 2%;
}

.avis .btnAvis:hover {
    background-color: #8ED081;
    color: #4B543B;
    border: none;
}

/*Modal Avis*/
.modal {
    background-image: url(../temp/background_avis.jpg);
    background-size: cover;
    width: 57vw;
    height: 67vh;
    margin-top: 8%;
    margin-left: 22%;
}

.modal-header {
    display:flex;
    justify-content:space-between;
    padding:var(--bs-modal-header-padding);
    border-bottom:var(--bs-modal-header-border-width) solid var(--bs-modal-header-border-color);
    border-top-left-radius:var(--bs-modal-inner-border-radius);
    border-top-right-radius:var(--bs-modal-inner-border-radius);
    justify-content: center;
}
  
.modal-footer {
    display:flex;
    flex-shrink:0;
    flex-wrap:wrap;
    align-items:center;
    justify-content:center;
    padding:calc(var(--bs-modal-padding) - var(--bs-modal-footer-gap) * .5);
    background-color:var(--bs-modal-footer-bg);
    border-top:var(--bs-modal-footer-border-width) solid var(--bs-modal-footer-border-color);
    border-bottom-right-radius:var(--bs-modal-inner-border-radius);
    border-bottom-left-radius:var(--bs-modal-inner-border-radius)
}
  
.modal-body input{
    justify-items: right;
}

label{
    width: 25%;
}

/*section horaires*/
.schedules{
    font-family: "lemonada", cursive;
    color: #4B543B;
    font-size: 1rem;
    margin-top: 5%;
    margin-bottom: 5%;
    text-align: center;
}

/*section nous trouver*/
.discover3{
    display: flex;
    transform: rotate(10deg);
    position: relative;
    top: 73px;
    left: 129px;
}

iframe{
    margin-bottom: 3%;
}

.rectangle2{
    width: 30vw;
    height: 13vh;
    position: relative;
    z-index: 10;
    background-color: white;
}

.search{
    position: absolute;
    z-index: 15;
    font-family: "Lemon", serif;
    font-size: 1rem;
    text-align: center;
    padding-left: 10%;
    padding-top: 2%;
}

/* -----------------------------------SERVICES-PAGE-------------------------------------------- */

.titleServ{
    display: flex;
    justify-content: center;
}

.h3Serv{
    margin-top: 3%;
}

.service{
    width: 90vw;
    height: 80vh;
    position: relative;
    z-index: 0;
    margin-top: 4%;
    margin-bottom: 5%;
}

.tranparentserv{
    width: 50vw;
    height: 13vh;
    position: absolute;
    z-index: 4;
    background-color: white;
    opacity: 70%;
    margin-top: 49%;
}

.servincl{
    position: absolute;
    z-index: 5;
    font-family: "lemonada", cursive;
    color: #4B543B;
    font-size: 1rem;
    text-align: center;
    margin-top: 51%;
}

/*Section carousel*/
.carousel{
    margin-bottom: 5%;
}

.carouselExampleAutoplaying{
    display: flex;
    justify-content: center;
}

.carousel-item img {
    width: 100%; /* Ajuste la largeur de l'image à 100% du conteneur */
    height: 300%; /* Garde les proportions de l'image*/
    object-fit: cover; /* Recadre l'image si nécessaire pour couvrir le conteneur */
}


/*Section services*/

.visite img{
    width: 32%;
    height: auto;
    margin: 2%;
}

.servRest{
    font-family: "lemonada", cursive;
    color: #4B543B;
    font-size: 1rem;
    text-align: center;
    margin-bottom: 4%;
    margin-top: 6%;
}

.visited{
    width: 85vw;
    display: flex;
    flex-direction: column;
    margin-bottom: 5%;
}

.visiteh{
    display: flex;
    align-items: center;
}

.visite{
    display: flex;
    flex-direction: row;
    align-items: center;
}

.visiteh img{
    width: 15%;
    height: auto;
}

.visiteh p{
    width: 60vw;
    font-family: "lemonada", cursive;
    color: #4B543B;
    font-size: 1rem;
    text-align: center;
    margin-left: 5%;
    margin-right: 5%;
    text-align: right;
}

.visite p{
    width: 60vw;
    font-family: "lemonada", cursive;
    color: #4B543B;
    font-size: 1rem;
    text-align: left;
}

/*Section ecolo*/
.panels{
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-top: 5%;
}

.panels img{
    width: 25%;
    margin-right: 8%;
    margin-left: 8%;
}

.ecolo{
    display: flex;
    justify-content: center;
}

.ecolo img{
    width: 15%;
    margin-bottom: 2%;
}

/* -----------------------------HABITATS-PAGE--------------------------- */

.transparent-hab{
    width: 50vw;
    height: 21vh;
    position: absolute;
    z-index: 4;
    background-color: white;
    opacity: 70%;
    margin-top: 48%;
}

.habitincl{
    position: absolute;
    z-index: 5;
    font-family: "lemonada", cursive;
    color: #4B543B;
    font-size: 1rem;
    margin-top: 50%;
    text-align: center;
    width: 44vw;
}

.habitat{
    display: flex;
    justify-content: space-around; /* Pour espacer les éléments uniformément */
    width: 85vw;
    margin-top: 4%;
    margin-bottom: 8%;
    height: 80vh;
    width: 85vw;
}

.habitat img {
    text-align: center; /* Centre le contenu textuel, y compris les légendes */
    display: flex; /* Utilisation de flexbox pour aligner le contenu */
    flex-direction: column; /* Aligne les éléments en colonne */
    align-items: center; 
    clip-path: ellipse(40% 50%);
    width: 80%;
    height: 80vh;
}


.hab{
    width: 85vw;
    display: flex;
    margin-top: 3%;
}

.imgHab{
    width: 80%;
    height: auto;
    margin: 3%;
}

.hab p{
    font-family: "Lemonada", cursive;
    font-size: 0.9rem;
    margin-top: 7%;
    color: #4B543B;
}

.container{
    display: flex;
}

.card-jungle{
    display: flex;
    flex-direction: column;
    background-color:#8ED081;
    width: 20%;
    height: 43%;
    border-radius: 5%;
    margin-top: 5%;
    align-items: center;
    box-shadow: 0 4px 4px #4B543B;
}

.jungle.col-md-3 {
    flex:0 0 auto;
    width:25%;
    display: flex;
    justify-content: center;
}

.jungle .btn{
    justify-content: center;
    display: flex;
}

.card-marais{
    display: flex;
    flex-direction: column;
    background-color:#B57F50;
    width: 20%;
    height: 43%;
    border-radius: 5%;
    margin-top: 5%;
    align-items: center;
    box-shadow: 0 4px 4px #4B543B;
}

.marais.col-md-3 {
    flex:0 0 auto;
    width:25%;
    display: flex;
    justify-content: center;
}

.marais .btn{
    justify-content: center;
    display: flex;
}

.card-savane{
    display: flex;
    flex-direction: column;
    background-color:#DCE2AA;
    width: 20%;
    height: 43%;
    border-radius: 5%;
    margin-top: 5%;
    align-items: center;
    box-shadow: 0 4px 4px #4B543B;
}

.savane .col-md-3 {
    flex:0 0 auto;
    width:25%;
    display: flex;
    justify-content: center;
}

.savane .btn{
    justify-content: center;
    display: flex;
}

.card-img-top{
    width: 78%;
    display: flex;
    margin-top: 11%;
    border-radius: 4%;
}

.card-body {
    flex:1 1 auto;
    padding:var(--bs-card-spacer-y) var(--bs-card-spacer-x);
    color:var(--bs-card-color);
    padding: 13%;
}

.card-body p {
    margin-top: 9%;
    margin-bottom:1rem;
    text-align: justify;
    color: #4B543B;
    font-family: lemonada;
    font-size: 0.7rem;
    width: 100%;
    height: 15%;
    overflow: auto;
    text-overflow: ellipsis;
}

.img-thumbnail {
    padding:0.2rem;
    background-color:var(--bs-body-bg);
    border:var(--bs-border-width) solid var(--bs-border-color);
    border-radius:var(--bs-border-radius);
    max-width:100%;
    height:auto;
    width: 76%;
    margin-top: 8%;
}
  



/* ---------------------------------NOUS CONTACTER------------------------------- */

body > h4:nth-child(2) {
    margin-top: 2%;
}
  
.mb-3 {
    margin-bottom:1rem!important;
    display: flex;
    align-items: center;
}
  
.form-label {
    margin-bottom:.5rem;
    justify-content: right;
    display: flex;
    margin-right: 2%;
}
  
body > form:nth-child(3) {
    background-color: #DCE2AA;
    padding: 2%;
    margin-top: 2%;
    margin-bottom: 2%;
    width: 40%;
    display: flex;
    flex-direction: column;
    justify-items: center;
    align-items: center;
    padding-right: 6%;
}

#contact_save {
    width: 100%;
    background-color: #8ED081;
    border: none;
    font-family: "Lemon", serif;
}

.col {
    flex:1 0 0%;
    margin-right: 20%;
    width: 80%;
}

  






/* ---------------------------------LOGIN-PAGE------------------------------- */

body > form:nth-child(2) {
    display: flex;
    flex-direction: column;
    width: 47vw;
    height: 70vh;
    background-color: #DCE2AA;
    padding: 7%;
    margin: 2%;
}

label {
    width: 32%;
    font-size: 0.7rem;
}

.rond{
    background-color: white;
    border-radius: 50%;
    width: 29%;
    height: 39%;
    position: relative;
    z-index: 2;
    top: -16%;
    left: 40%;
}

.h3{
    position: absolute;
    z-index: 5;
    top: 25%;
    left: 49%;
}

.fa-sharp-duotone {
    font-size: 4rem;
}
  
.btn-connex{
    font-family: "Lemon", serif;
    color: white;
    background-color: #4B543B;
    font-size: 1rem;
    margin-top: 2%;
    width: 30%;
    margin-left: 39%;
}

.btn:hover {
    background-color: #8ED081;
    color: #4B543B;
    border: none;
}

/* ----------------------------------ADMIN-PAGE------------------------------------ */
aside {
    display: flex;
    flex-direction: column;
    align-content: center;
    justify-items: center;
    text-align: center;
    gap: 2%;
    height: 60%;
    
}

.col-9 > h1:nth-child(1) {
    text-align: center;
}

.col-9 > p:nth-child(2) {
    text-align: center;
}

.col-9 > img:nth-child(3) {
    width: 50%;
    height: auto;
}
  
.col-9 {
    display: flex;
    flex-direction: column;
    justify-items: center;
    align-items: center;
  }
  
button.btn.btnRegister{
    font-family: 'Lemonada', serif;
}
  
.btnRegister {
    background-color:#4B543B;
    text-decoration: none;
    margin-bottom: 2%;
}

.btnRegister a{
    text-decoration: none;
    color: white;
}

a.btnRegister{
    color: white;
    font-family: 'Lemonada', serif;
}

.containerAdmin{
    margin-top: 3%;
    margin-bottom: 3%;
}

.row{
    width: 95vw;
    height: auto;
}

.badge{
    background-color: #B57F50;
}

th{
    font-family: 'Lemon', serif;
}

td.action{
    width: 14%;
  }  

.col-9 > h4:nth-child(1) {
    margin-bottom: 4%;
  }


/* ---------------------------------REGISTRATION-PAGE---------------------------- */

body > form:nth-child(3) {
    background-color: #DCE2AA;
    padding: 2%;
    margin-top: 2%;
    margin-bottom: 2%;
}

form .btn {
    width: 30%;
    justify-content: center;
    justify-items: center;
    align-items: center;
}

button.btn.btn-primary{
    font-family: 'Lemon', serif;
    font-size: 0.7rem;
    text-align: center;
}

button.btn.btn-danger{
    font-family: 'Lemon', serif;
    font-size: 0.7rem;
    text-align: center;
    width: 80%;;
    margin-top: 2%;
}

a.btn.btn-success{
    font-family: 'Lemon', serif;
    font-size: 0.7rem;
    text-align: center;
    margin-bottom: 2%;
}


  

/* ---------------------------------RGPD-PAGE---------------------------- */

.espace{
    margin-bottom: 3%;
}

.text{
    width: 85vw;
    font-family: "Lemonada", cursive;
    font-size: 0.7rem;
    margin-top: 3%;
    margin-bottom: 3%;
}