/* Fonts*/
@import url('https://fonts.googleapis.com/css2?family=Lemon&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lemonada:wght@300..700&display=swap');


/* memo */

/* .lemon-regular {
    font-family: "Lemon", serif;
    font-weight: 400;
    font-style: normal;
}

.piedra-regular {
    font-family: "Piedra", serif;
    font-weight: 400;
    font-style: normal;
}

.lemonada{
    font-family: "Lemonada", cursive;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
} */

*{
    margin: 0;
    padding: 0;
}

/* --------------------------------GLOBAL-CSS------------------------------------- */

body{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-left: auto;
    margin-right: auto;
    background-color:beige;
    width: 100vw;
    height: 100vh;
    -webkit-text-size-adjust: unset !important;
}

.banner{
    display: flex;
    justify-content: center;
    align-items: center;
}

.banner img{
    position: absolute;
    z-index: 6;
    width: 85vw;
    height: 10%;
    box-shadow: 0 4px 4px #4B543B;
}

h4{
    font-family: "lemon", serif;
    font-size: 1.5rem;
    text-align: center;
    color: #4B543B;
    position: relative;
    z-index: 7;
    margin-top: 2%;
}

@media screen and (max-width: 650px){
    .banner img {
        height: 5%;
    }

    div.rectangle2 {
        width: 64vw;
        height: 10vh;
    }

    h3.search {
        width: 60vw;
        top: -1.3rem;
    }

    .discover3 {
        top: 31px;
    }

}

/* ---------------------------------RGPD-PAGE---------------------------- */

.espace{
    margin-bottom: 3%;
}

.text{
    width: 85vw;
    font-family: "Lemonada", cursive;
    font-size: 0.7rem;
    margin-top: 3%;
    margin-bottom: 3%;
}




/* ---------------------------------REGISTRATION-PAGE---------------------------- */

form .btn {
    width: 30%;
    justify-content: center;
    justify-items: center;
    align-items: center;
}
  
/* ----------------------------------EMPLOYEE-PAGE------------------------------------ */


main form{
    width: 60vw;
}

@media screen and (max-width: 650px){

    main form {
        width: 97vw;
        font-size: 0.5rem;
    }

    main form label {
        font-size: 0.5rem;
    }
}




    