@media (min-width: 1024px) {
    .navbar {
        height: 8vh;
    }

    .navbar-brand img {
        width: 3rem;
      }
}


/* ----360 x 640---- */
@media (min-width: 320px) {
    .navbar-brand img {
        width: 2rem;
    }
}

/* ----360 x 640---- */
@media (min-width: 320px) {
    .hheader {
        font-size: 1rem;
    }
}