/* ----------------------------------ADMIN-PAGE------------------------------------ */

#aside {
    display: flex;
    flex-direction: column;
    align-content: center;
    justify-items: center;
    text-align: center;
    gap: 2%;
    height: 60%;
}

#navAdmin {
    background-image: none;
    box-shadow: none;
    width: 100%;
    height: auto;
  }

.col-9 img{
    width: 50%;
    height: auto;
}
  
.col-9 {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 79.8vw;
    height: 73vh;
    align-items: center;
}

.col-9 h1{
    margin-bottom: 1.5%;
}

.hello {
    font-size: 1.5rem;
    font-family: lemonada;
    color: #4B543B;
  }

  .col-2 {
    margin-right: 2%;
    margin-left: -3%;
    width: 12vw;
  }

main h1{
    color: #DCE2AA;
    font-family: 'Piedra','Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 3rem;
}
  
.containerAdmin{
    margin-top: 3%;
    margin-bottom: 3%;
}

.bg-body-tertiary {
    background-color:rgba(248, 249, 250, 0) !important;
  }
  
  
.table-responsive{
    width: 70vw;
    height: auto;
    display: flex;
    flex-direction: column;
    align-content: center;
    align-items: center;
}

main form label {
    text-align: right;
    margin-right: 2%;
    font-family: 'Lemonada', serif;
    font-size: 1rem;
}

.col-form-label {
    text-align: center;
    font-size: 1.3rem;
    font-family: 'Lemonada', serif;
}

.badge{
    background-color: #B57F50;
    font-size: 1rem;
}

.h5, h5 {
  font-size:1.25rem;
  font-family: 'Lemonada', serif;
  text-align: center;
  margin-top: 2%;
}
  
.form-check {
    display:block;
    min-height:1.5rem;
    padding-left:16.5em;
    margin-bottom:.125rem;
}

.col-9 h4{
    margin-bottom: 4%;
    margin-top: 3%;
}

.form-group {
    width: 0;
    display: flex;
    margin-left: 25%;
    align-items: center;
}

.form-group label {
    width: 47%;
}

td.action{
    width: 8vw;
}

td.image{
    width: 12vw;
}


@media screen and (max-width: 767px){

    .dash{
        display: flex;
        flex-direction: column;
        align-items: center;
        position: absolute;
    }

    header{
        flex: none;
    }

    #navbarAdmin{
        position: absolute;
        top: 100%;
        margin: 0;
        background: none;
    }

    main.col-9{
        width: 90vw;
    }

    main form label {
        font-size: 0.8rem;
    }

    .col-9 img {
        width: 34%;
    }

    .col-form-label {
        font-size: 0.9rem;
    }

    .col-9 h4 {
        margin-bottom: 15%;
    }

    .col-2 {
        width: 85vw;
        display: flex;
        flex-wrap: wrap;
    }
    
    .table-responsive {
        width: 85vw;
        font-size: 0.5rem;
    }

    img.mainDash {
        width: 85vw;
    }
    
    .badge{
        font-size: 0.7rem;
    }

    .col-9 h1{
        margin-top: -28%;
        width: 85vw;
        text-align: center;
        font-size: 2rem;
    }

    .hello {
        font-size: 1rem;
      }

      .col-9 img {
        width: 85.2vw;
    }

    .table-responsive {
        font-size: 0.6rem;
        overflow-x: scroll;
        align-items: flex-start;
    }

    .table {
        width:157.1%;
      }

      ol,ul {
        margin-left: 0;
        width: 33.9%;
        text-align: center;
    }

    .table>thead {
        text-align: center;
      }
      
      li {
        width: 67.4vw;
      }

      .h5, h5 {
        font-size:0.9rem;
        margin-bottom: 9.2%;
        margin-top: 10%;
      }

      #sche > h4:nth-child(1) {
        margin-bottom: -10%;
      }
      
      #sche > form:nth-child(2) > div:nth-child(12) > input:nth-child(2) {
        width: 30%;
      }
      
      
}

@media screen and (max-height: 500px) and (orientation: landscape){

    .containerAdmin h4 {
        font-size: 1rem;
    }

    .mb-3 {
        margin-right: 21.7%;
    }

    .form-label {
        width: 50%;
        font-size: 0.7rem;
    }

    .form-control {
        width:94.9%;
        height: 5.9vh;
      }
      
      main form label {
        font-size: 0.7rem;
    }

    .col-form-label {
        font-size: 0.9rem;
    }

    .form-check {
        padding-left:4.7em;
    }

    .form-group {
        width: 50%;
        margin-left: 0;
    }

    .mt-3 {
        margin-top:-100% !important;
        margin-left: -3.9%;
        font-size: 0.8rem;
        width: 10.2vw;
      }
      
      .col-9 h4 {
        margin-top: 5.2%;
    }

    .col-9 {
        height: 78vh;
        margin-top: -2%;
    }

    .col-9 img {
        width: 44.4%;
    }

    main h1 {
        font-size: 2rem;
    }

    .hello {
        font-size: 0.8rem;
      }

    #form_image {
        height: 10vh;
      }
      
      .h5, h5 {
        font-size:0.9rem;
      }

      dl, ol, ul {
        width: 74.7%;
      }
}