/* ----------------------------BUTTON---------------------------------- */

/*navbar Dashboard button*/
button.btn.btnRegister{
    font-family: 'Lemonada', serif;
}
  
.btnRegister {
    background-color:#4B543B;
    text-decoration: none;
    margin-bottom: 2%;
}

.btnRegister a{
    text-decoration: none;
    color: white;
}

a.btnRegister{
    color: white;
    font-family: 'Lemonada', serif;
}

/*button add*/

button.btn.btn-success,
button.btn.btn-primary {
margin-top: 2%;
    font-family: 'Lemon', serif;
    font-size: 0.7rem;
    text-align: center;
    width: 20%;
    margin-left: 39%;
    margin-top: 4%;
}

a.btn.btn-success {
    font-family: 'Lemon', serif;
    font-size: 0.7rem;
    text-align: center;
    margin-bottom: 2%;
    width: 10%;
    margin-left: 2%;
}

button#form_save.btn-primary.btn{
    width: 20%;
}

/*button modify*/

a.btn.btn-primary{
    font-family: 'Lemon', serif;
    font-size: 0.7rem;
    text-align: center;
    width: 80%;
    display: flex;
    justify-content: center;
}

button.btn.btn-primary {
    margin-top: 2%;
    font-family: 'Lemon', serif;
    font-size: 0.7rem;
    text-align: center;
    width: 20%;
    margin-left: 39%;
    margin-top: 4%;
}


/*button filter*/

.btn.btn-primary.filter{
    font-size: 0.7rem;
    margin-top: 1%;
    margin-left: 3%;
    font-family: 'Lemon', serif;
    width: 6%;
    display: flex;
}

/*button delete*/

button.btn.btn-danger{
    font-family: 'Lemon', serif;
    font-size: 0.7rem;
    text-align: center;
    width: 80%;
    margin-top: 2%;
    display: flex;
}


@media screen and (max-width: 650px){
    .btnAvis {
        font-size: 0.7rem;
    }

    button.btn.btnRegister {
        font-family: 'Lemonada', serif;
        font-size: 0.5rem;
        width: 20vw;
    }

    a.btnRegister {
        color: white;
        font-family: 'Lemonada', serif;
        font-size: 0.5rem;
        width: 20vw;
    }

    a.btn.btn-primary {
        font-size: 0.4rem;
        width: 70%;
    }

    button.btn.btn-primary {
        font-size: 0.4rem;
        width: 70%;
    }

    button.btn.btn-danger {
        font-size: 0.4rem;
        width: 70%;
    }

    a.btn.btn-success {
        font-size: 0.4rem;
        width: 15vw;
    }

    .btn.btn-primary.filter {
        font-size: 0.4rem;
        width: 15vw;
    }

    a.btn.btn-secondary{
        font-size: 0.5rem;
        height: 4vh;
        width: 26vw;
        position: relative;
        z-index: 6;
        top: 217%;
    }
}