/* ----------------------------------------FOOTER-------------------------------------------------------- */

footer{
    display: flex;
    flex-direction: column;
    bottom:0;
    justify-content: center;
    justify-items: center;
    align-items: center;
    background-color: #4B543B;
    width: 100vw;
    height: 19vh;
}

.container-fluid-foot{
    display: flex;
    flex-direction: row;
    width: 95vw;
    gap: 30%;
    justify-content: center;
    align-items: center;
    margin-top: 4%;
}

.gauche{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 1%;
}

h1{
    color: #DCE2AA;
    font-family: 'Piedra','Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 1.3rem;
}

.suivez{
    display: flex;
    flex-direction: column;
    align-items: center;
}

h2{
    display: flex;
    color: #DCE2AA;
    font-family: 'Lemon', Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-size: 1.7rem;
    width: 105%;
}

.bootstrap-icons{
    display: flex;
    gap: 51%;
    width: 40%;
    text-align: center;
    margin-left: -24%;
}

.bootstrap-icons i{
    justify-content: center;
    font-size: 1.2rem;
    color: #DCE2AA;
    text-decoration: none;
    gap: 2rem;
}

h7{
    font-family: 'lemonada',cursive;
    font-size: 0.8rem;
    color: #DCE2AA;
}

.lien_footer {
    padding-top: 2%;
}

  
.lien_footer a{
    display: flex;
    flex-direction: column;
    font-family: 'lemonada',cursive;
    color: #DCE2AA;
    text-decoration: none;
    font-size: 0.7rem;
}

.bi-instagram, .bi-twitter-x{
    font-size: 2rem;
    color: #4B543B;
    text-decoration: none;
}

.copy{
    font-size: 0.5rem;
    color: #DCE2AA;
    margin-bottom: 4%;
    margin-top: 2%;
}

@media screen and (max-width: 650px) {

    footer {
        height: 14vh;
    }

    h2{
        font-size: 1.2rem;
        width: 44vw;
    }

    .bootstrap-icons {
        gap: 22%;
    }

    .lien_footer a{
        font-size: 0.4rem;
    }
    
    .container-fluid-foot {
        gap: 10%;
      }
    
    h1 {
        font-size: 0.9rem;
        width: 20vw;
    }
    
    h7 {
        font-size: 0.4rem;
    }
    
    .copy {
        font-size: 0.3rem;
    }
}