/* --------------------------------HEADER---------------------------------------- */
header{
    flex: 1;
}
.navbar{
    background-image: url("../images/bg_header-d269c2ffae1a15d221588dd007641ad7.png");
    background-size: cover;
    width: 100vw;
    height: 12vh;
    align-content: center;
    box-shadow: 0 4px 4px lightgray;
}

/*div logo*/
.navbar-brand{ 
    width: 6%;
    height: auto;
    display: flex;
    flex-direction: column;
    align-content: center;
    align-items: center;
    margin-right: 12%;
    margin-left: 10%;
    text-decoration: none;
    margin-top: 0.5%;
}

/*logo*/
.navbar-brand img {
    width: 70%;
    height: auto;
}


/*text under the logo*/
.hheader{
    font-family: "Piedra", serif;
    font-size: 1.4rem;
    color: #4B543B;
}

/*icone burger menu*/
.navbar-toggler-icon{
    color: #4B543B;
}

/*link menu*/
.collapse a{
    text-decoration: none;
    font-family: "Lemon",serif;
    color: #4B543B;
    font-size: 1.5rem;
    margin-right: 4%;
    align-content: center;
    gap: 9%;
    text-shadow: 0px 4px 3px white;
}

/*icon home menu*/
.fa-solid{
    font-size: 1.5rem;
    color: #4B543B;
}

/*connexion*/
a.nav-link:nth-child(5) {
    font-size: 1rem;
    margin-left: 15%;
}

a.nav-link:nth-child(6) {
font-size: 1rem;
}

@media screen and (max-width: 650px) {

    .navbar {
        height: 8vh;
        background-size: cover;
    }

    .banner img{
        height: auto;
    }

    .hheader{
        font-size: 0.9rem;
    }

    .navbar-brand img {
        width: 2rem;
    }

    a.nav-link:nth-child(5) {
    font-size: 0.7rem;
    }

    a.nav-link:nth-child(6) {
        font-size: 0.7rem;
    }
      
    .collapse a {
        font-size: 0.8rem;
    }

    .fa-solid {
        font-size: 1.1rem;
    }

    .navbar-collapse {
        margin-left: 64%;
        text-align: right;
        z-index: 99;
        background: linear-gradient( #aee199 ,white);
        padding: 2%;
    }
}