/* ----------------------------HOME-PAGE---------------------------------- */

/*rectangle + txt*/
.discover{
    display: flex;
    width: 90vw;
    height: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.rectangle{
    width: 50vw;
    height: 13vh;
    position: absolute;
    z-index: 2;
    background-color: white;
    margin-top: 1%;
}

h3{
    position: absolute;
    z-index: 3;
    font-family: "lemon", serif;
    color: #B57F50;
    font-size: 1.5rem;
    margin-top: 2%;
}

/*image accueil*/
.accueil{
    width: 85vw;
    height: 80vh;
    position: relative;
    z-index: 0;
    margin-top: 4%;
    margin-bottom: 10%;
}

/*rectangle transparent + txt*/
.tranparent{
    width: 59vw;
    height: 20vh;
    position: absolute;
    z-index: 4;
    background-color: white;
    opacity: 70%;
    margin-top: 41%;
}

.welcome{
    position: absolute;
    z-index: 5;
    font-family: "lemonada", cursive;
    color: #4B543B;
    font-size: 1rem;
    margin-top: 42%;
    text-align: center;
}


/*section animaux */

.animaux{
    width: 85vw;
    margin-bottom: 5%;
    display: flex;
}

.card{
    background-color:#DCE2AA;
    width: 20%;
    align-items: center;
    margin-top: 5%;
    height: 65vh;
}

.card-img{
    width: 78%;
    display: flex;
    margin-top: 9%;
    border-radius: 4%;
    border: 4px solid white;
}


/*section habitats*/

.habitats{
    display: flex;
    justify-content: space-around;
    width: 85vw;
    margin-top: 4%;
    margin-bottom: 3%;
    align-items: center;
}

.habitats .imgHab {
    text-align: center; /* Centre le contenu textuel, y compris les légendes */
    display: flex; /* Utilisation de flexbox pour aligner le contenu */
    flex-direction: column; /* Aligne les éléments en colonne */
    align-items: center; 
    clip-path: ellipse(40% 50%);
    width: 120%;
    height: auto;
}


.habitats .legend{
    font-family: "Lemonada", cursive;
    margin-top: 2%;
    text-align: center;
    color: #4B543B;
    font-size: 1rem;
    padding-right: 19%;
}

/*section nos services*/
.nos-services {
    display: flex;
    justify-content: space-around; /* Pour espacer les éléments uniformément */
    width: 85vw;
    margin-top: 4%;
    margin-bottom: 3%;
}

.nos-services div {
    text-align: center; /* Centre le contenu textuel, y compris les légendes */
    display: flex; /* Utilisation de flexbox pour aligner le contenu */
    flex-direction: column; /* Aligne les éléments en colonne */
    align-items: center; /* Centre les éléments horizontalement */
}

.nos-services img {
    width: 100%; /* Adapte l'image à la largeur de son conteneur */
    object-fit: cover;
    max-width: 800px; /* Limite la largeur de l'image */
    max-height: 800px;
    transform: scale(0.7);
}

.nos-services legend{
    font-family: "Lemonada", cursive;
    margin-top: -4%;
    text-align: center;
    color: #4B543B;
    font-size: 1rem;
}


/*section avis*/
.avis {
    flex-direction: column;
    align-content: center;
    align-items: center;
    display: flex;
    width: 85vw;
    margin-top: 5%;
    margin-bottom: 5%;
}

li {
    margin-bottom: 4%;
}  

dl, ol, ul {
  margin-bottom:1rem;
  text-align: center;
  width: 60%;
  list-style-type: none;
}

.avis .btnAvis {
    font-family: "Lemon", serif;
    color: white;
    background-color: #4B543B;
    font-size: 1rem;
    margin-right: -1%;
    align-content: center;
    margin-top: 2%;
}

.avis .btnAvis:hover {
    background-color: #8ED081;
    color: #4B543B;
    border: none;
}


/*Modal Avis*/

.modal {
    background-image: url("../images/background_avis-58aefd290e1962f481c5b065b43de46d.jpg");
    background-size: cover;
    width: 57vw;
    height: 67vh;
    margin-top: 8%;
    margin-left: 22%;
}

.modal-header {
    display:flex;
    justify-content:space-between;
    padding:var(--bs-modal-header-padding);
    border-bottom:var(--bs-modal-header-border-width) solid var(--bs-modal-header-border-color);
    border-top-left-radius:var(--bs-modal-inner-border-radius);
    border-top-right-radius:var(--bs-modal-inner-border-radius);
    justify-content: center;
}
  
.modal-footer {
    display:flex;
    flex-shrink:0;
    flex-wrap:wrap;
    align-items:center;
    justify-content:center;
    padding:calc(var(--bs-modal-padding) - var(--bs-modal-footer-gap) * .5);
    background-color:var(--bs-modal-footer-bg);
    border-top:var(--bs-modal-footer-border-width) solid var(--bs-modal-footer-border-color);
    border-bottom-right-radius:var(--bs-modal-inner-border-radius);
    border-bottom-left-radius:var(--bs-modal-inner-border-radius)
}
  
.modal-body input{
    justify-items: right;
}

label{
    width: 25%;
}

.star-rating {
    display: flex;
    gap: 5px;
    cursor: pointer;
    justify-content: center;
}

.star {
    font-size: 2rem;
    color: #ccc; /* Couleur des étoiles non cochées */
    transition: color 0.3s;
}

.star.selected,
.star:hover,
.star:hover ~ .star {
    color: #E84C1B; /* Couleur des étoiles sélectionnées ou au survol */
}


/*section horaires*/

.schedules{
    font-family: "lemonada", cursive;
    color: #4B543B;
    font-size: 1rem;
    margin-top: 5%;
    margin-bottom: 5%;
    text-align: center;
    gap: 5%;
}

.schedules table{
    width: 50vw;
}


/*section nous trouver*/

.discover3{
    display: flex;
    transform: rotate(10deg);
    position: relative;
    top: 73px;
    left: 129px;
}

iframe{
    margin-bottom: 3%;
}

.rectangle2{
    width: 30vw;
    height: 13vh;
    position: relative;
    z-index: 10;
    background-color: white;
}

.search{
    position: absolute;
    z-index: 15;
    font-family: "Lemon", serif;
    font-size: 1rem;
    text-align: center;
    padding-left: 16%;
    padding-top: 2%;
}

#breed {
    width: 20vw;
    margin-left: -16vw;
  }
  


@media screen and (max-width: 650px) {
    h3{
        font-size: 0.8rem;
        margin-top: 4%;
    }

    .titleServ h3 {
        margin-top: 4%;
    }

    .accueil{
        height: 100%;
        margin-top: 10%;
    }

    .rectangle{
        width: 73vw;
        height: 7vh;
        margin-top: 2%;
    }

    p {
        font-size: 0.4rem;
        margin-top: 10%;
      }

    .tranparent{
        width: 73vw;
        height: 8.5vh;
        margin-top: 48%;
    }

    h4{
        margin-top: 10%;
        font-size: 0.9rem;
    }

    .card{
        width: 53%;
        height: 35vh;
    }
      
    .card-title{
        font-size: 0.5rem;
    }

    .animaux{
        flex-direction: column;
        justify-content: center;
        justify-items: center;
        align-content: center;
        align-items: center;
    }

    #breed {
        width: auto;
    }
      

    .card-img{
        width: 84%;
    }

    .habitats{
        flex-direction: column;
    }

    .habitats a{
        display: flex;
        justify-content: center;
      }

    .habitats legend{
        font-size: 0.5rem;
        padding-left: 20%;
    }

    li {
        margin-bottom: 20%;
        font-size: 0.8rem;
        width: 85vw;
        display: flex;
        flex-direction: column;
      }

    .avis{
        font-size: 1rem;
        padding: 2%;
    }
      
    ol,ul {
        margin-left: -13rem;
    }

    .nos-services legend{
        font-size: 0.7rem;
    }

    .nos-services{
        flex-direction: column;
    }
    .nos-services img{
        max-width: 265px;
    }

    .nos-services > div:nth-child(1) > legend:nth-child(2) {
        margin-top: -15%;
        }
      
    .nos-services > div:nth-child(2) > legend:nth-child(2) {
        margin-top: -5%;
      }
    .nos-services > div:nth-child(3) > legend:nth-child(2) {
        margin-top: -15%;
        }
    .nos-services > div:nth-child(3) > a:nth-child(1) > img:nth-child(1) {
        margin-top: -10%;
      }

    .avis .btnAvis {
        width: 8rem;
        font-size: 0.7rem;
    }

    .modal {
        background-image: none;
        width: 67vw;
        margin-top: 39vh;
        margin-left: 13%;
    }

    .modal-body label{
        width: 34%;
    }

    form .btn {
        width: 40%;
    }

    #exampleModalLabel {
        text-align: center;
        width: 1000%;
      }

    .schedules {
        font-size: 0.8rem;
        margin-top: 12%;
        margin-bottom: 13%;
    }

    .search{
        font-size: 0.7rem;
        width: 50vw;
        right: 0.5rem;
        top: -0.1rem;
    }

    .rectangle2{
        width: 56vw;
        top: -17%;
        left: 5%;
    }

    .discover3{
        left: 53px;
        top: 69px;
    }

    .maps{
        width: 85vw;
        height: auto;
    }

    .maps > iframe:nth-child(1) {
        border:0;
        width: 100%;
      }
    
      footer{
        display: flex;
        flex-direction: column;
        width: 100vw;
        height: auto;
    }
    
    .container-fluid-foot{
        display: flex;
        gap: 10%;
    }

    .containerAdmin{
        display: flex;
        flex-direction: row;
        width: 90vw;
        justify-content: center;
        justify-items: center;
    }

    .hello{
            font-size: 1rem;
            margin-top: 10%;
    }
    
    .gauche{
    width: 49%;
    }
    
    h1{
        font-size: 1.2rem;
        margin-top: 15%;
    }
    
    .suivez{
        align-items: center;
        text-align: center;
        width: 40%;
    }

    .bootstrap-icons {
        display: flex;
        gap: 51%;
        width: 40%;
        text-align: center;
        margin-left: -75%;
        font-size: 0.8rem;
    }
    
    h2 {
    display: flex;
    font-size: 1rem;
    width: 154%;
    margin-left: -24%;
    }
    
    h7{
        font-size: 0.6rem;
        text-align: center;
    }
    
    .lien_footer{
    margin-top: 4%;
    width: 40%;
    }

    .lien_footer a {
        display: flex;
        flex-direction: column;
        font-family: 'lemonada',cursive;
        color: #DCE2AA;
        text-decoration: none;
        font-size: 0.6rem;
    }
}