/* -----------------------------------SERVICES-PAGE-------------------------------------------- */

.titleServ{
    display: flex;
    justify-content: center;
}

.h3Serv{
    margin-top: 2%;
}

.service{
    width: 90vw;
    height: 80vh;
    position: relative;
    z-index: 0;
    margin-top: 4%;
    margin-bottom: 5%;
}

.tranparentserv{
    width: 50vw;
    height: 12vh;
    position: absolute;
    z-index: 4;
    background-color: white;
    opacity: 70%;
    margin-top: 49%;
}

.servincl{
    position: absolute;
    z-index: 5;
    font-family: "lemonada", cursive;
    color: #4B543B;
    font-size: 1rem;
    text-align: center;
    margin-top: 51%;
}

/*Section carousel*/
.carousel{
    margin-bottom: 5%;
}

.carouselExampleAutoplaying{
    display: flex;
    justify-content: center;
}

.carousel-item img {
    width: 100%; /* Ajuste la largeur de l'image à 100% du conteneur */
    height: 300%; /* Garde les proportions de l'image*/
    object-fit: cover; /* Recadre l'image si nécessaire pour couvrir le conteneur */
}


/*Section services*/

.visite img{
    width: 32%;
    height: auto;
    margin: 2%;
}

.servRest{
    font-family: "lemonada", cursive;
    color: #4B543B;
    font-size: 1rem;
    text-align: center;
    margin-bottom: 4%;
    margin-top: 6%;
}

.visited{
    width: 85vw;
    display: flex;
    flex-direction: column;
    margin-bottom: 5%;
}

.visiteh{
    display: flex;
    align-items: center;
}

.visite{
    display: flex;
    flex-direction: row;
    align-items: center;
}

.visiteh img{
    width: 15%;
    height: auto;
}

.visiteh p{
    width: 60vw;
    font-family: "lemonada", cursive;
    color: #4B543B;
    font-size: 1rem;
    text-align: center;
    margin-left: 5%;
    margin-right: 5%;
    text-align: right;
}

.visite p{
    width: 60vw;
    font-family: "lemonada", cursive;
    color: #4B543B;
    font-size: 1rem;
    text-align: left;
}

/*Section ecolo*/
.panels{
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-top: 5%;
    width: 85vw;
}

.panels p{
    font-family: lemonada;
    color: #4B543B;
}

.panels img{
    width: 25%;
    margin-right: 8%;
    margin-left: 8%;
}

.ecolo{
    display: flex;
    justify-content: center;
}

.ecolo img{
    width: 15%;
    margin-bottom: 2%;
}

@media screen and (max-width: 650px){

    .h3Serv {
        margin-top: 6%;
    }

    .service {
        width: 85vw;
        height: auto;
    }

    .service {
        width: 85vw;
        height: auto;
        margin-bottom: 8%;
    }

    .tranparentserv {
        height: 6%;
        margin-top: 70%;
    }

    .servincl {
        margin-top: 69%;
    }

    .servincl p{
        margin-top: 8%;
    }

    .servRest p{
        margin-top: 2%;
        width: 85vw;
        font-size: 0.5rem;
    }

    .visiteh p {
        font-size: 0.5rem;
    }

    .visiteh img {
        width: 43%;
    }

    .visite p {
        font-size: 0.5rem;
    }

    .visite img {
        width: 94%;
        padding: 5%;
        margin-top: 6%;
    }

    .panels p {
        font-size: 0.5rem;
        margin-top: 5%;
        font-family: lemonada;
        color: #4B543B;
    }

    .panels {
        flex-direction: column;
        width: 85vw;
    }

    .panels img {
        width: 45%;
    }

    .ecolo img {
        width: 25%;
    }
}