{% extends 'base.html.twig' %}

{% block title %}Vétérinaire{% endblock %}


{% block body %}

    <div class="containerAdmin">
        <div class="row">
            {% include "_partials/_adminnav.html.twig" %}
            <main class="col-9 border bg-white p-2">
                <h1>Espace vétérinaire</h1>
                {% if username != 'Invité' %}
                    <p>Bonjour, {{ username }} !</p>
                {% else %}
                    <p>Bonjour, Invité !</p>
                {% endif %}
                <img src={{ asset('images/veterinaire.jpg')}} alt="Bureau">
            </main>
        </div>
    </div>


{% endblock %}
