{% extends 'base.html.twig' %}

{% block title %}Hello VerinarinaryController!{% endblock %}

{% block body %}

<section class="btn-admin">

    <aside class="sidebar">
        <button type="button" class="btn btnRegister"><a href="{{path ('app_register')}}">Compte rendu</a></button>
        <button type="button" class="btn btnRegister"><a href="{{path ('app_services')}}">Etat de l'animal</a></button>
        <button type="button" class="btn btnRegister"><a href="{{path ('app_services')}}">Commentaire habitat</a></button>
    </aside>
    <main class="main-content">Contenu principal
    </main>

</section>


{% endblock %}
