{% extends 'base.html.twig' %}

{% block title %}Modifier un service{% endblock %}


{% block body %}

    <div class="containerAdmin">
        <div class="row dash">
            {% include "_partials/_adminnav.html.twig" %}

            <main class="col-9 border bg-white p-2">
                <h1>Modifier le service</h1>

                {{ form_start(form) }}
                    {{ form_widget(form) }}
                    
                {{ form_end(form) }}

            </main>
        </div>
        <a class="btn btn-secondary mt-3" href="{{ path('app_admin_serv') }}">Retour à la liste</a>
    </div>

{% endblock %}
